body {
	background:RosyBrown
}
h1 {
	color:white;
	font-size:40px;
	background:black;
	font-weight:bold;
	text-align:center;
	text-shadow: 2px 2px #7FFF00;
}
h2 {
	color:white;
	background:grey;
	font-size:35px;
	font-weight: 500;
	text-align:left;
}
p {
	color:yellow;
	background:green;
	font-size:25px;
	font-weight: bold;
	text-align: left;
}
