html{
    scroll-behavior: smooth;
}

body{
    margin: 0%;
    opacity: 1;
    transition: 3s opacity;
    letter-spacing: .2vw;
    overflow-x: hidden;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
}

body.fade-out{
    opacity: .1;
}





/*--NAV--*/
nav {
    overflow: hidden;
    position:fixed;
    top:0;
    width: 100%;
    background-color: rgb(90, 10, 96);
    z-index: 4;
    -webkit-animation: moveNav 2s;
    animation: moveNav 2s;
}
@keyframes moveNav {
    from {top: -10vw}
    to {top:0vw}
}
nav a{
    float:left;
    text-align:left;
    display:block;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(42, 6, 44);
    color: rgb(61, 58, 61);
}

.active{
    background-color:rgb(42, 6, 44);
    color: rgb(109, 18, 115);
    font-size: 25px;
    font-weight: 900;
}
.active:hover{
    background-color: rgb(90, 10, 96);
    color:rgb(42, 6, 44);
}
@media screen and (max-width: 576px) {
Nav a{
    width: 25%; 
    font-size: 60px;
}
}
/*---NAV---*/






/*---VIDEO---*/
#Background_Video{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    min-width: 100%;
    z-index: -1;
}
@media screen and (max-width: 576px) {
    #Background_Video {
        display: none;
    }
}
/*---VIDEO---*/







/*---VIDEO TEXT---*/
.video-text {
   background-color: rgba(42, 6, 44,0.5);
   position:relative;
   top: 0vw;
   width:100%;
   height:60vw;
   padding-top: 3vh;
   color: white;
   text-align:center;
   -webkit-animation: moveVideoText 6s;
   animation: moveVideoText 6s;
}

@keyframes moveVideoText {
   from {top: -100vw;} 
   to {top: 0vw;}
}
.video-text h1{
    font-size:5vw;
    font-variant: small-caps;
}
.video-text p{
    font-size:1.8vw;;
}
.video-text span{
    font-style: italic;
}

.video-text h1:hover {
    transform: scale(1.1);
    transition: 2s;
}
.video-text p:hover{
    transform: scale(1.1);
    transition: 2s;
}
/*---VIDEO TEXT---*/


/*----SLIDESHOW----*/
.Slide_background {
    background: rgb(52, 18, 54)

}

.Slideshow_container{
    width: 39.5vw;
    height:auto;
    padding-top: 4%;
    position:relative;
    margin: auto;
}

Slideshow_Container a {
    text-decoration: none;
}
.Slide{
    display: none;
}

.Slideshow {
    vertical-align: middle;
    height:100%;
    width:100%;
    filter:drop-shadow(8px 8px 10px rgb(109, 18, 115)) grayscale(70%);
}

.Slideshow:hover {
    transform: none;
    
}


.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width:auto;
    padding: 1vw;
    color:rgb(42, 6, 44);
    font-weight: bold;
    font-size:1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

.Next {
    right:0;
    border-radius: 3px 0 0 3px;
}

.Previous:hover, .Next:hover {
    background-color:rgb(109, 18, 115);
    color:white;
}

.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgb(61, 58, 61);
    font-variant: small-caps;
}

.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .25vw;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.7s ease;
    z-index: 1;
}

.active, .dot:hover {
    background-color: black; 
}
/* Fading animation for slideshow */
.fade {
    animation-name: fade; 
    animation-duration: 1.5s; 
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

@keyframes fade {
    from {opacity: .4;} 
    to {opacity: 1;} 
}

/*--SLIDESHOW--*/



/*--IMAGES--*/
img {
    max-width: 100%;
    max-height:100%;
    border-radius: 8px;
    display: block;
    margin: auto auto auto auto;
    filter:drop-shadow(8px 8px 10px rgb(109, 18, 115)) grayscale(80%);
}

img:hover {
    transform: scale(1.05);
    filter:drop-shadow(8px 8px 10px rgb(109, 18, 115));
    transition:5s;
    
}
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}
/*--IMAGE--_*/


/*--- ROW AND COLLUMS---*/
.row {
    width:100%;
}
* {
    box-sizing: border-box;
}
.Column_1{
    float: left;
    padding: 1.6%;
    width:50%;
    height:600px;
    background-color:rgb(90, 10, 96);
}
.Column_2 {
    float:left;
    padding: 1.6%;
    width:50%;
    height:600px;
    background-color:rgb(42, 6, 44);
}

row:after {
    content: "";
    display: block;
    clear: both;
}

/*--- ROW AND COLLUMS---*/





/*----TEXT---*/
h2 {
    color: white;
    font-weight:900;
    font-size: 3.2vw;;
    padding:auto;
    text-align: center;
    font-variant: small-caps;
}
h2:hover {
    transform: scale(1.3);
    transition: 3s;
}

.Column_1 p {
    color: white;
    font-size:1.3vw;
    margin:25px;
    text-align: left;
}
.Column_1 a{
    color:white;
    font-weight:900;
}

.Column_1 p:hover{
    font-weight:600;
}

/*----TEXT---*/






/*--FORM---*/

.Pop_Up_Button {
    position: fixed;
    bottom: 1.75vw;
    right: 1.75vw;
    width: 25vw;
    background-color:rgb(52, 18, 54);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 2px 2px 4px;
    cursor: pointer;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s; 
}
@keyframes movePopup {
    from{right: -40vw;}
    to {right: 1.75vw;}
}
@-webkit-keyframes movePopup {
    from{right: -40vw;}
    to {right: 1.75vw;}
}
.Pop_Up_Button:hover {
    background-color:white;
    color: rgb(52, 18, 54);
    border: 2px solid rgb(52, 18, 54);
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 2px 2px 4px;
    transition: 2s;
}

.form-popup {
    z-index: 10;
    display: none;
    position: fixed;
    bottom: .5vw;
    right: .5vw;
}

.form-container{
    max-width: 45vw;
    max-height:48vw;
    padding: 1vw;
    background-color: rgb(61, 58, 61);
    border: 5px solid rgb(84, 82, 84);
    border-radius: 10px;

}
.form-container input[type=text]{
    width: 100%;
    padding: .93vw;
    margin: .6vw 0 .6vw 0;
    border: none;
    background: white;;
    font-size: 1vw;
}
button {
    letter-spacing: .3vw;
    font-size: 1.2vw;
    padding: 1.2vw;
    cursor: pointer;
    width: 100%;
    height: auto;
}
.btn {
    background-color:rgb(109, 18, 115) ;
    color: white;
}
.btn:hover {
    background-color:rgb(83, 14, 87) ;
}
.btn-cancel {
    background-color:brown;
    color:white;
}

.btn-cancel:hover {
    background-color:rgb(90, 24, 24);
}
label {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}
/*--FORM---*/




/*---FOOTER--*/
footer{
    font-size:20px;
    color:white;
    text-align: center;
}
footer:hover {
    font-size:25px;
    transition: 2s;
}

/*---FOOTER--*/

@media screen and (min-width: 1725px) {
    .Column_1 {
        height: 550px;
    }
    .Column_2 {
        height: 550px;
    }
}

@media screen and (max-width: 527px) {
    p {
        font-size: 3.75vw;
    }
}

@media screen and (min-width: 528px) and (max-width: 660px) {
    p {
        font-size: 3.5vw;
    }
}

@media screen and (min-width: 661px) and (max-width: 799px) {
    p {
        font-size: 2.75vw;
    }
}

@media screen and (min-width: 800px) and (max-width: 924px) {
    p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 925px) and (max-width: 1050px) {
    p {
        font-size: 2.25vw;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1310px) {
    p {
        font-size: 2vw;
    } 
}

@media screen and (min-width: 1311px) and (max-width: 1535px) {
    p {
        font-size: 1.75vw;
    }
}

@media screen and (min-width: 1536px) and (max-width: 2269px) {
    p {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2270px) {
    p {
        font-size: 1.35vw;
    }
}

/*Media rule for navbar links for different screen sizes*/
/* Screens 1080px and smaller will display navbar links equally distributed */
@media screen and (max-width: 1080px) {
    .Navbar a{
        width: 20%; /* This sets each navbar link to 1/5 of the navbar */
        font-size: 2.5vw;
    }
}

/* Media rules to enlarge the font of the white text for smaller screens */
@media screen and (max-width: 1080px) {
    .quote{
        font-size: 3.5vw;
    }

    .white-text {
        font-size: 4.5vw;
    }
}
/*Media rule to remove margin-top from h1 elements for extra large screens (so that the paragraph text fits in the column*/
@media screen and (min-width: 2000px) {
    h1{
        margin-top: 0;
    }
}